// Grid settings
$main-sm-columns: 12;
// Colors
$b: #000;
$w: #fff;
$brand-main: #c2b59b;
$main-color: #58595b;
$dark-color: #414042;
$blu: #0D0C37;
$yellow: #F7941D;
$gold: #C2B59B;
$lighter: #f6f6f6;
$light: #c6c7c8;

// UNITS
$p: 20px;
$f: 100%;
$base_font_size: 16px;
$spacing: .160em;
$bp: 850px;
$speed: .5s;

$main-font: 'azo-sans-web', 'Trebuchet MS', sans-serif;

