.carousel.carousel--grid.carousel--grow-lg
	.carousel__item(ng-class="'carousel__cell--s{{size}}'" ng-repeat="item in items")
		figure.carousel__figure.carouse__figure--shrink
			img(ng-src="{{item.url}}" ng-attr-alt="{{item.title}}")
.carousel__nav
	.icon-arrow-left(ng-click="move(false)")
	.icon-arrow-right(ng-click="move(true)")