.slider(ng-class="{'slider--linee' : kind=='linee'}" ng-swipe-left="move(true)" ng-swipe-right="move(false)")
	.slider__item.slider__item--grid-nowrap(ng-repeat="slide in slides" data-slide="{{$index}}" ng-attr-style="z-index:{{slides.length - $index}}" ng-class="{'slider__item--inactive' : current > $index, 'slider__item--active': current == $index, 'slider__item--loaded' : isLoaded($index)}") 
		.slider__cell.slider__cell--left(ng-if="kind=='linee'")
			.slider__cover(lazy-img="{{slide.sepia}}")
		.slider__cell.slider__cell--right(ng-if="kind=='linee'")
			.slider__cover(lazy-img="{{slide.url}}")
		.slider__cell.slider__cell--s12(ng-if="kind!='linee'")
			.slider__cover(lazy-img="{{slide.url}}")
	.slider__nav.slider__nav--shrink(ng-if="kind == 'linee'")
		.slider__page(ng-repeat="slide in slides" ng-click="slideTo($index)" ng-class="{'slider__page--active': current == $index}")
	.slider__quare(ng-square="{kind : 'slider'}" ng-if="kind!='linee'")
	.slider__dir(ng-if="kind!='linee'")
		i.icon-arrow-left(ng-click="move(false)" ng-class="{'inactive' : !isPrev}")
		i.icon-arrow-right(ng-click="move(true)" ng-class="{'inactive' : !isNext}")
.full-slider__content.slider__content--grid-nowrap(ng-if="kind=='full'")
	.full-slider__cell(ng-repeat="item in slides" ng-bind-html="item.alt")
.linee__container(ng-if="kind == 'linee'")
	h6.linee__title.linee__title--smaller.linee__title--smaller-upper(ng-bind-html="title")
	.linee__content.linee__content--grid-nowrap
		.linee__cell.linee__cell--slide(ng-repeat="slide in slides" ng-class="{'linee__cell--hidden':slide.title==''}")
			figure.linee__cover
				img(ng-src="{{slide.url}}" ng-attr-alt="{{slide.title}}")
			a.linee__button.linee__button--showbtn(ng-href="{{slide.link}}" ng-attr-data-more="{{show}}" ng-bind-html="slide.title")
	i.icon-arrow-big(ng-click="move(true)")