.list {
	@include grow('lg', 'bottom');
	@include grow('lg');
	li {
		padding-bottom: em(20px);
		&:nth-last-child(1) {
			padding-bottom: 0;
		}
	}
	a {
		font-size: em(24px);
		@extend %a;
	}
	&:before {

	}
	.current-cat {
		a {
			@extend %anormal;
		}
	}
}