/*
Error: Invalid CSS after "...or: $dark-color": expected ";", was ":;"
        on line 33 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/_container.scss
        from line 4 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/-star
        from line 1 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/_index.scss
        from line 7 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/main.scss

28: 			letter-spacing: 0;
29: 		}
30: 		a {
31: 			color: $brand-main;
32: 			&:hover {
33: 				color: $dark-color:;
34: 			}
35: 		}
36: 	}
37: }

Backtrace:
/Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/_container.scss:33
/Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/-star:4
/Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/_index.scss:1
/Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/main.scss:7
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1162:in `expected'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1098:in `expected'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1093:in `tok!'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:758:in `block in try_declaration'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1138:in `call'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1138:in `rethrow'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:763:in `try_declaration'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:647:in `block_contents'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:632:in `ruleset'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:657:in `block_child'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:647:in `block_contents'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/engine.rb:309:in `to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/engine.rb:278:in `render'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...or: $dark-color\": expected \";\", was \":;\"\A         on line 33 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/_container.scss\A         from line 4 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/-star\A         from line 1 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/components/_index.scss\A         from line 7 of /Users/edograndinetti/Sites/bspkn/spreafico/site/web/app/themes/spreafico-theme/source/styles/main.scss\A \A 28: 			letter-spacing: 0;\A 29: 		}\A 30: 		a {\A 31: 			color: $brand-main;\A 32: 			&:hover {\A 33: 				color: $dark-color:;\A 34: 			}\A 35: 		}\A 36: 	}\A 37: }"; }
