svg(preserveAspectRatio="xMidYMid slice" viewBox="0 0 {{slide.width}} {{slide.height}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink")
					defs
						filter(id="filter_{{$index}}" color-interpolation-filters="sRGB")
							feColorMatrix(type="matrix" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" result="gray")
							feComponentTransfer(color-interpolation-filters="sRGB")
								feFuncR(type="table" tableValues="1 0.9392156862745098 0.8784313725490196 0.7607843137254902")
								feFuncG(type="table" tableValues="1 0.9254901960784314 0.8509803921568627 0.7098039215686275")
								feFuncB(type="table" tableValues="1 0.8980392156862745 0.796078431372549 0.6078431372549019")
								feFuncA(type="table" tableValues="1 1 1 1")
					image(ng-attr-xlink:href="{{slide.url}}" ng-attr-width="{{slide.width}}" ng-attr-height="{{slide.height}}" filter="url(#filter_{{$index}})" xlink:href="" x="0" y="0")